@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.padding-x {
  @apply px-[10px] lg:px-[30px] xl:px-[60px] 2xl:px-[230px]
}


/* styles.css */
.align-super {
  vertical-align: super;
  background-color: rgba(84, 83, 83, 0.492);
}


@layer utilities {
  .unicode-bidi-isolate {
    unicode-bidi: isolate;
  }
}